@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:ital,wght@0,500&display=swap');

* {
    font-family: 'Roboto', monospace;
    color: #020202;
    border-radius: 0.5rem;
    margin: 0.2rem;
}

body {
    padding: 0.5rem;
    background: #ffffff;
    margin: 0;
}

#columnContainer {
    margin: 0;
    display: flex;
    flex-direction: column;
}

h5 {
    display: inline;
    font-weight: lighter;
    padding: 0.3rem 0.3rem;
}

button,
datalist {
    padding: 0.3em 1em 0.3em 1em;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-color: hsl(168, 76%, 45%);
}

button:hover {
    background-color: hsl(168, 76%, 92%);
}

input[type=text] {
    padding: 0.3em 1em 0.3em 1em;
    border: 1px solid;
    border-color: #888888;
    max-width: 60ch;
}

input:hover[type=text] {
    border: 1px solid;
    border-color: #020202;
}





#settingGroup {
    margin: 0;
}

#flexContainer {
    margin: 0;
    display: flex;
}

#lineToSend {
    width: 100%;
}





#container {
    height: calc(100vh - 8.5rem);
    border: 3px solid;
}

canvas {
    margin: 0;
}